<div id="<%= dom_id businesspartner %>">
  <p>
    <strong>Customer code:</strong>
    <%= businesspartner.customer_code %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= businesspartner.customer_name %>
  </p>

  <p>
    <strong>Corporate number:</strong>
    <%= businesspartner.corporate_number %>
  </p>

  <p>
    <strong>Invoice number:</strong>
    <%= businesspartner.invoice_number %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= businesspartner.postal_code %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= businesspartner.address %>
  </p>

  <p>
    <strong>Telephone number:</strong>
    <%= businesspartner.telephone_number %>
  </p>

</div>
