<h1>New Business Partner</h1>

<%= form_with model: @businesspartner_path do |form| %>
  <div>
    <%= form.label :customer_code %><br>
    <%= form.text_field :customer_code %>
  </div>

  <div>
    <%= form.label :customer_name%><br>
    <%= form.text_field :customer_name %>
  </div>

  <div>
  <%= form.label :corporate_number%><br>
  <%= form.text_field :corporate_number %>
  </div>

  <div>
  <%= form.label :invoice_number%><br>
  <%= form.text_field :invoice_number %>
  </div>

  <div>
  <%= form.label :postal_code %><br>
  <%= form.text_field :postal_code %>
  </div>

  <div>
  <%= form.label :address %><br>
  <%= form.text_field :address %>
  </div>

  <div>
  <%= form.label :telephone_number %><br>
  <%= form.text_field :telephone_number %>
  </div>
 
  <div>
    <%= form.submit %>
  </div>

  <%= link_to "Back", businesspartner_index_path %>
<% end %>