<h1> This are details associated with our business partner </h1>
<p> Customer code => <%= @businesspartner.customer_code %></p>
<p> Customer name => <%= @businesspartner.customer_name %></p>
<p> Corporate number => <%= @businesspartner.corporate_number %></p>
<p> Invoice number => <%= @businesspartner.invoice_number %></p>
<p> Postal Code => <%= @businesspartner.postal_code %></p>
<p> Address => <%= @businesspartner.address %></p>
<p> Telephone number => <%= @businesspartner.telephone_number %></p>
